body {
    background-color: white;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 16px;
}

.form-control {
    /* give input boxes right angles */
    border-radius: 0;
  
    /* keep from horizontally resizing text area */
    min-width: 10%;
    max-width: 33%;
  }

  .submit-btn {
    /* Box-model */
    padding: 15px 30px;
    font-size: 16px;
    font-weight: lighter;
   /* Typography */
   color: #fff;

   /* Visual */
   background-color: #4aaaa5;
   border: 0;
 }
 
 .submit-btn:hover {
   opacity: .7;
 }  